# wayland_titlebar_color #12af59
dynamic_background_opacity true
background_opacity 0.5
background_blur 2
transparent_background_colors red@0.5 #00ff00@0.3
window_padding_width 5

tab_bar_edge top
tab_bar_style fade

# shortcuts
clear_all_shortcuts yes
    # kitty config
    map alt+shift+ctrl+e edit_config_file
    map alt+shift+ctrl+k kitty_shell
    map alt+ctrl+shift+r load_config_file
    # fonts
    map alt+shift+ctrl+minus change_font_size current -1
    map alt+shift+ctrl+equal change_font_size current +1
    map alt+shift+ctrl+backspace change_font_size current 0
    # background
    map alt+shift+ctrl+comma set_background_opacity -0.1
    map alt+shift+ctrl+period set_background_opacity +0.1
    map alt+shift+ctrl+slash set_background_opacity default
    # copy
    map cmd+c copy_to_clipboard
    map ctrl+c copy_and_clear_or_interrupt
    # paste
    map cmd+v paste_from_clipboard
    map ctrl+v paste_from_clipboard
    # tools
    map alt+shift+ctrl+b launch --type=os-window --hold btop
    map alt+shift+ctrl+d launch --type=os-window --hold dust
    map alt+shift+ctrl+f launch --type=os-window --hold neofetch
    map alt+shift+ctrl+y launch yazi ~
    # scrolling
    map shift+ctrl+left scroll_line_left
    map shift+ctrl+down scroll_line_down
    map shift+ctrl+up scroll_line_up
    map shift+ctrl+right scroll_line_right
    map shift+ctrl+home scroll_home
    map shift+ctrl+end scroll_end
    # os windows
    map shift+ctrl+n new_os_window_with_cwd
    map shift+ctrl+q close_os_window
    # windows
    map shift+ctrl+o new_window_with_cwd
    map shift+ctrl+x close_window
    map shift+ctrl+h previous_window
    map shift+ctrl+l next_window
    map shift+ctrl+s focus_visible_window
    map alt+shift+ctrl+h move_window_backward
    map alt+shift+ctrl+l move_window_forward
    map alt+shift+ctrl+s swap_with_window
    map shift+ctrl+enter move_window_to_top
    map alt+ctrl+h resize_window narrower 1
    map alt+ctrl+l resize_window wider 1
    map alt+ctrl+j resize_window shorter 1
    map alt+ctrl+k resize_window taller 1
    map alt+ctrl+= reset_window_sizes
    # tabs
    map shift+ctrl+t new_tab
    map shift+ctrl+w close_tab
    map shift+ctrl+j previous_tab
    map shift+ctrl+k next_tab
    map shift+ctrl+comma move_tab_backward
    map shift+ctrl+period move_tab_forward
    map shift+ctrl+semicolon set_tab_title
    # layout
    map alt+shift+ctrl+space>f goto_layout fat
    map alt+shift+ctrl+space>g goto_layout grid
    map alt+shift+ctrl+space>h goto_layout horizontal
    map alt+shift+ctrl+space>s goto_layout split
    map alt+shift+ctrl+space>t goto_layout tall
    map alt+shift+ctrl+space>v goto_layout vertical
    map shift+ctrl+space>n next_layout
    map shift+ctrl+z toggle_layout stack

# BEGIN_KITTY_THEME
# Catppuccin-Mocha
include current-theme.conf
# END_KITTY_THEME
